<body>{
<style>
h1 {color:}
h2 {color:}
body{background-color:}  
#vung1 {color:}          
#vung3 {background-color:;
        text-align: center;
        color:;
        padding:;}     
header {background-color:}      

</style>}