
		body {
			margin: 0;
			padding: 0;
		}

		/* CSS cho header */
		header {
			background-color:  #28aadd;
			color: #185e;
			padding: 10px;
		}

		/* CSS cho footer */
		footer {
			background-color: #2b4d2d;
			color: #ffff;
			padding: 10px;
        }
