<body>{}
<style>
h1 {color: ;
     font-size: ;}

body{background-color: ;}  
#vung1 {color:;}          
#vung3 {background-color:;
        text-align: center;
        color;
        padding: ;}     
 div.a {font-size:;
        color:;}
 .text-center{
              text-align: center;}
 header{font-size: ;}

.overlay-container{
        background:url('https://....jpg');
        width:;
        height:;
        background-position: center; 
        background-repeat: no-repeat;
        background-size:cover;
                  }
 .overlay-container{
         font-size:;
                   }

</style>
